#title {
    text-align: center;
}

#display {
    box-sizing: border-box;
    display: flex;
     flex-direction: row;
    height: 95vh;
    width: 100%;
    background-color:rgb(169, 0, 242);
}

#questionList {
    text-align: center;
    overflow: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    max-width: 10%;
    background-color: rgb(88, 192, 252);
    margin: left;
}

html {
    background-color: blue;
}

#question {
    margin: auto;
    background-color: aqua;
    text-align: center;
}

#answerForm {
    background-color: chocolate;
    margin: auto;
}
#answer {
    height: 40vh;
    font-size: 30px;
}
#answerTextBubble {
    height: 10px;
    width: 150px;
    font-size: 11px;
}

#darkMode {
    margin: 0%;
    padding: 0%;
}

#toggleDark {
    font-size: 30px;
    cursor: pointer;
    padding: 1250px;
}

#toggle {
    text-align: center;
}